In [3]:
# import packages 
import pandas as pd                   # data management
import matplotlib.pyplot as plt       # graphics 
import datetime as dt                 # check today's date 
import sys                            # check Python version 

# IPython command, puts plots in notebook 
%matplotlib inline

print('Today is', dt.date.today())
print('Python version:\n', sys.version, sep='') ## Question 0

Today is 2017-12-07
Python version:
3.6.2 |Anaconda, Inc.| (default, Sep 21 2017, 18:29:43)
[GCC 4.2.1 Compatible Clang 4.0.1 (tags/RELEASE_401/final)]

In [23]:
url = 'https://raw.githubusercontent.com/chrisc617/Data-Bootcamp-Final-Project/master/rollingsales_manhattan%20(1).csv'
nyc_property = pd.read_csv(url, sep=',')
nyc_property.head()

,Manhattan Rolling Sales File. All Sales From November 2016 - October 2017.,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20
0,Sales File as of 11/9/2017 Co-op Sales Files ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Neighborhood Names and Descriptive Data as of ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Building Class Category is based on Building C...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
4,1,ALPHABET CITY,03 THREE FAMILY DWELLINGS,1,376,24,,C0,264 EAST 7TH STREET,,...,3,0,3,"2,059","3,696",1900,1,C0,"7,738,700",12/22/2016

In [61]:
url = 'https://github.com/zhicheryl/Data-Bootcamp-Final-Project/raw/master/NYC_Health_and_Hospitals_Corporation_Facilities.csv'
health_center = pd.read_csv(url, sep=',')
health_center.head()
hc=health_center
hc.head()
hc.dropna()
hc=hc.dropna()
hc.head()
hc.columns=[i.lower() for i in hc.columns]
hc.drop(hc[['cross streets','phone','location 1','community board','council district','bin']],axis=1)
hc=hc.drop(hc[['cross streets','phone','location 1','community board','council district','bin']],axis=1)
names = list(hc)
hc.rename(columns={names[3]: 'zipcode'})
hc=hc.rename(columns={names[3]: 'zipcode'})
hc.dtypes
hc[['zipcode','census tract']] = hc[['zipcode','census tract']].astype(int).astype(str)

In [62]:
hc.head()

,facility type,borough,facility name,zipcode,latitude,longitude,census tract,bbl,nta
8,Child Health Center,Manhattan,Drew Hamilton Houses Health Center,10030,40.821706,-73.942730,232,1.020290e+09,Central Harlem North-Polo Grounds ...
9,Child Health Center,Queens,Parsons Communicare Clinic,11432,40.703826,-73.800483,44601,4.097560e+09,Jamaica ...
15,Child Health Center,Brooklyn,Sutter Avenue Child Health Clinic,11208,40.671892,-73.878197,1194,3.040390e+09,East New York ...
25,Child Health Center,Manhattan,Smith Communicare Health Center,10038,40.712019,-73.997309,25,1.001110e+09,Chinatown ...
26,Child Health Center,Brooklyn,Jonathan Williams Houses Child Health Clinic,11211,40.715381,-73.956135,519,3.023370e+09,North Side-South Side ...

In [64]:
import folium as fm
map_hc = fm.Map(location=[34.088537, -118.249923],
                   zoom_start=9)
# for label in kmeans.cluster_centers_:
#     folium.Marker(location=[label][0]).add_to(map_2)

map_hc

# from sklearn.cluster import MiniBatchKMeans
# kmeans = MiniBatchKMeans(n_clusters=120, batch_size=1000).fit(geo_df[['latitude','longitude']])
# geo_df.loc[:, 'label'] = kmeans.labels_

ModuleNotFoundError: No module named 'folium'

In [ ]:
from geopy.geocoders import Nominatim

geolocator = Nominatim()

location = geolocator.reverse("40.70873961, -73.95942528")

print(location.address)
#Potsdamer Platz, Mitte, Berlin, 10117, Deutschland, European Union
print((location.latitude, location.longitude))
#(52.5094982, 13.3765983)
print(location.raw)